# Node.js
node_modules/
.env
.env.local
./course.code-workspace
./postma_collection.json

# Logs
logs/
*.log

# System Files
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/

# Testing
coverage/
.vercel
